.container {
  display: flex;
  flex-direction: column;
  background-color: #e5f2ff;
  height: 100vh;

  .main {
    height: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 40px;
    color: #fff;
    font-size: 12px;
  }
}
